h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.SearchResults {
    width: 50%;
    padding: 2rem;
    background-color: darkorchid;
    opacity: 0.75;
    color: white;
}