h2 {
    font-family: "Poetsen One", sans-serif;
    font-size: 1.75rem;
    font-weight: 400;
    color: white;  
}

.SearchResults {
    width: 50%;
    padding: 2rem;
    background-color: #3A1684;
    opacity: 0.75;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    color: white;
}