h3 {
    font-weight: bold;
}

h4 {
    color: #CCCCCC;
}

.track {
    min-height: 4rem;
    padding: 0.25rem;
    border-bottom: 0.125rem solid #CCCCCC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
}

.trackInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    flex-grow: 1;
    min-width: 0;
}

.trackInfo h3, .trackInfo h4 {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0; 
}

.playSampleButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.playSampleButton:hover {
    background-color: transparent;
}

.playSampleIcon {
    color: white;
}

.playSampleIcon:hover {
    color: #CCCCCC;
}

.pauseSampleIcon {
    color: white;
}

.pauseSampleIcon:hover {
    color: #CCCCCC;
}