h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  text-align: center;
  background-image: url('./background_photo_desktop.jpg');
}

.resultsAndPlaylist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 3rem;
}
