label {
    color: white;
}

input {
    font-size: 1rem;
    padding: 0.5rem; 
    width: 18rem;
    border: 0.12rem solid #333; 
    color: #3A1684;
  }

button {
    padding: 0.625rem 1.25rem; 
    font-size: 1rem; 
    border-radius: 0.625rem; 
    border: none; 
    background-color: white; 
    color: #3A1684; 
    cursor: pointer; 
}

button:hover {
    background-color: #CCCCCC; 
}

.SearchBar {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    align-items: center;
}