label {
    color: yellow;
}

input {
    font-size: 1rem;
    padding: 0.5rem; 
    width: 18rem;
    border: 0.12rem solid #333; 
  }

button {
    padding: 10px 20px; /* Increase padding to make the button bigger */
    font-size: 16px; /* Larger font size */
    border-radius: 10px; /* Rounded corners */
    border: none; /* Remove default border */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    cursor: pointer; /* Pointer cursor on hover */
}

button:hover {
    background-color: #45a049; 
}


.SearchBar {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}