label {
    color: yellow;
}

input {
    font-size: 1rem;
    padding: 0.5rem; 
    width: 18rem;
    border: 0.12rem solid #333; 
  }

button {
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 10px; 
    border: none; 
    background-color: darkblue; 
    color: white; 
    cursor: pointer; 
}

button:hover {
    background-color: #45a049; 
}

.SearchBar {
    display: flex;
    flex-direction: column;
    row-gap: 0.625rem;
    align-items: center;
}