.Playlist input { 
    width: 50%;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem; 
    border: 0.12rem solid white; 
    margin: 0 auto;
    color: white;
}

.Playlist {
    width: 50%;
    padding: 2rem;
    background-color: #3A1684;
    opacity: 0.75;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.saveButton {
    width: 30%;
    margin: 0 auto;
}